<!DOCTYPE html>
<html ng-app="JobOut" ng-controller="JobsController as jobCtrl">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/jobsController.js"></script>
    <script src="/javascripts/jobView.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="">
      <input type="search" id="search-title" placeholder="Search by Title" ng-model="query.title">
      <input type="search" id="search-company" placeholder="Search by Company" ng-model="query.company">
      Sort by:
      <select id="sort">
        <option value="">Choose...</option>
        <option value="createdAt">Created At</option>
        <option value="title">Title</option>
        <option value="company">Company</option>
      </select>
    </form>

    <section id="jobs-container">
      <button id="add-job">Add a Job</button>
      
      <ul>
        <job></job>
      </ul>

      <button id="load-more" ng-click="loadMore()" >Load More</button>
    </section>

  </body>
</html>
